<%= form_with(model: shallow_args(@current_account, @schedule), class: "box", data: { turbo: false }) do |form| %>
  <div class="content has-text-centered">
    <%= icon_text("fa-regular fa-calendar-days", title) %>
    <hr />
  </div>

  <%= form.fields_for :operation do |operation_fields| %>
    <%= render "operation_form", form: operation_fields %>
  <% end %>

  <hr />

  <%# frequency %>
  <div class="field">
    <%= form.label :frequency, t(".frequency"), class: "label" %>
    <div class="field has-addons">
      <div class="control">
        <div class="button is-static">
          <%= t(".all_the") %>
        </div>
      </div>
      <div class="control">
        <%= form.number_field :frequency, class: input_class_for(@schedule, :frequency), placeholder: t(".frequency") %>
        <% @schedule.errors.full_messages_for(:frequency).each do |message| %>
          <p class="help is-danger">
            <%= message %>
          </p>
        <% end %>
      </div>
      <div class="control">
        <span class="select">
          <%= form.select :period, [[t(".days"), :days], [t(".weeks"), :weeks], [t(".months"), :months], [t(".years"), :years]], {} %>
          <% @schedule.errors.full_messages_for(:period).each do |message| %>
            <p class="help is-danger">
              <%= message %>
            </p>
          <% end %>
        </span>
      </div>
    </div>
  </div>

  <%# next time %>
  <div class="field">
    <%= form.label :next_time, t(".next_time"), class: "label" %>
    <div class="control has-icons-left">
      <%= form.date_field :next_time,
                          class: input_class_for(@schedule, :next_time), \
                          placeholder: t(".next_time"), \
                          value: @schedule.next_time.nil? ? Date.today : @schedule.next_time %>
      <span class="icon is-left">
        <%= icon("fa-regular fa-calendar-days") %>
      </span>
      <% @schedule.errors.full_messages_for(:next_time).each do |message| %>
        <p class="help is-danger">
          <%= message %>
        </p>
      <% end %>
    </div>
  </div>

  <%# submit button %>
  <div class="mt-5">
    <%= form.submit class: "button is-success is-fullwidth" %>
  </div>
<% end %>
