<nav aria-label="breadcrumbs" class="breadcrumb has-succeeds-separator">
  <ul>
    <li>
      <%= link_to icon("fa-solid fa-house"), dashboard_path %>
    </li>
    <li class="is-active">
      <%= link_to t(".forgot_password"), new_password_path %>
    </li>
  </ul>
</nav>

<div class="columns is-centered">
  <div class="column is-narrow">
    <%= form_with url: passwords_path, class: "box" do |form| %>
      <%# password %>
      <div class="field">
        <%= form.label :email, t(".email"), class: "label" %>
        <div class="control has-icons-left">
          <%= form.email_field :email, class: "input", required: true, autofocus: true, autocomplete: "email", placeholder: t(".email"), value: params[:email] %>
          <span class="icon is-left">
            <%= icon("fa-solid fa-envelope") %>
          </span>
        </div>
      <div>

      <%# send instructions button %>
      <div class="mt-5">
        <%= form.submit t(".send_instructions"), class: "button is-primary is-fullwidth" %>
      </div>
    <% end %>
  </div>
</div>
