<table class="table is-fullwidth">
  <tbody>
    <%# accounts %>
    <tr class="is-size-7">
      <th class="is-narrow">
        <%= t(".accounts") %>
      </th>
      <td>
        <%= joined_accounts_names(@current_accounts, search.accounts) %>
      </td>
    </tr>

    <%# amounts %>
    <tr class="is-size-7">
      <th class="is-narrow">
        <%= t(".amount") %>
      </th>
      <% if not search.min.blank? and not search.max.blank? %>
        <td>
          <%= t(".between_amount", min: number_to_currency(search.min), max: number_to_currency(search.max)) %>
        </td>
      <% elsif not search.min.blank? and search.max.blank? %>
        <td>
          <%= t(".more_than", min: number_to_currency(search.min)) %>
        </td>
      <% elsif search.min.blank? and not search.max.blank? %>
        <dtd>
          <%= t(".less_than", max: number_to_currency(search.max)) %>
        </dtd>
      <% else %>
        <td>
          <%= t(".no_restriction") %>
        </td>
      <% end %>
    </tr>

    <%# date %>
    <tr class="is-size-7">
      <th class="is-narrow">
        <%= t(".date") %>
      </th>
      <% if not search.before.blank? and not search.after.blank? %>
        <td>
          <%= t(".between_date", before: l(search.before), after: l(search.after)) %>
        </td>
      <% elsif not search.before.blank? and search.after.blank? %>
        <td>
          <%= t(".before", before: l(search.before)) %>
        </td>
      <% elsif search.before.blank? and not search.after.blank? %>
        <td>
          <%= t(".after", after: l(search.after)) %>
        </td>
      <% else %>
        <td>
          <%= t(".no_restriction") %>
        </td>
      <% end %>
    </tr>

    <%# categories %>
    <tr class="is-size-7">
      <th class="is-narrow">
        <%= t(".categories") %>
      </th>
      <td>
        <%= joined_categories_names(@current_accounts, search.accounts, search.categories) %>
      </td>
    </tr>

    <%# comment %>
    <tr class="is-size-7">
      <th class="is-narrow">
        <%= t(".comment") %>
      </th>
      <% if search.operator == "like" and search.comment.present? %>
        <td>
          <%= t(".like", comment: search.comment) %>
        </td>
      <% elsif search.operator == "like" and search.comment.blank? %>
        <td>
          <%= t(".without_comment") %>
        </td>
      <% elsif search.operator == "unlike" and search.comment.present? %>
        <td>
          <%= t(".unlike", comment: search.comment) %>
        </td>
      <% elsif search.operator == "unlike" and search.comment.blank? %>
        <td>
          <%= t(".with_comment") %>
        </td>
      <% else %>
        <td>
          <%= t(".no_restriction") %>
        </td>
      <% end %>
    </tr>

    <%# checked %>
    <tr class="is-size-7">
      <th class="is-narrow">
        <%= t(".checked") %>
      </th>
      <% if search.checked == "yep" %>
        <td>
          <%= t(".yep") %>
        </td>
      <% elsif search.checked == "nop" %>
        <td>
          <%= t(".nop") %>
        </td>
      <% else %>
        <td>
          <%= t(".checked_or_not") %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
