<div class="modal" data-action="keydown.esc@window->layout#hideModal" data-layout-target="modal">
  <div class="modal-background"></div>
  <%= form_with(url: :import_from_account_categories, method: :import_from) do |form| %>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-size-6-mobile">
          <%= t(".title") %>
        </p>
        <a class="delete" data-action="layout#hideModal"></a>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <p class="help">
            <%= t(".speech").html_safe %>
          </p>
          <%= form.label t(".import_from"), class: "label" %>
          <div class="control has-icons-left">
            <div class="select">
              <%= form.collection_select :categories, @other_accounts, :id, :name %>
            </div>
            <%= icon("fa-solid fa-book") %>
          </div>
        </div>
      </section>
    </div>
    <footer class="modal-card-foot">
      <div class="field">
        <div class="control">
          <%= form.submit class: "button is-primary" %>
        </div>
      </div>
    </footer>
  <% end %>
</div>
