<% transactions.each do |transaction| %>
  <tr class="<%= decoration_according_to_(transaction) %>" id="<%= dom_id(transaction) %>">

    <%# check %>
    <td>
      <%= render partial: "easycheck", locals: { transaction: transaction } %>
    </td>

    <%# date %>
    <td data-title="<%= date %>">
      <%= l(transaction.date) %>
    </td>

    <%# category %>
    <td data-title="<%= category %>">
      <%= transaction.category.name %>
    </td>

    <%# debit %>
    <td class="nowrap has-text-right" data-title="<%= debit %>">
      <%= number_to_currency(transaction.amount) if transaction.amount < 0 %>
    </td>

    <%# credit %>
    <td class="nowrap has-text-right" data-title="<%= credit %>">
      <%= number_to_currency(transaction.amount) if transaction.amount >= 0 %>
    </td>

    <%# balance %>
    <td class="nowrap has-text-right" data-title="<%= balance %>">
      <%= number_to_currency(transaction.balance) %>
    </td>

    <%# comment %>
    <td data-title="<%= comment %>">
      <%= truncate(transaction.comment, length: 30) %>
    </td>

    <%# common %>
    <td>
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item has-text-centered">
            <%= link_to icon("fa-solid fa-pen-to-square"), edit_transaction_path(transaction), title: t(".edit"), class: "has-text-info" %>
          </div>
          <div class="level-item has-text-centered">
            <%= link_to icon("fa-regular fa-trash-can"),
                        transaction_path(transaction),
                        data: { turbo_method: :delete, turbo_confirm: t(".are_you_sure") },
                        title: t(".destroy"),
                        class: "has-text-danger" %>
          </div>
        </div>
      </div>
    </td>
  </tr>
<% end %>
