<%= form_with(model: @account, class: "box", data: { turbo: false }) do |form| %>
  <div class="content has-text-centered">
    <%= icon_text("fa-solid fa-book", title) %>
    <hr />
  </div>

  <%# name %>
  <div class="field">
    <%= form.label :name, t(".name"), class: "label" %>
    <div class="control has-icons-left">
      <%= form.text_field :name, class: input_class_for(@account, :name), placeholder: t(".name") %>
      <span class="icon is-left">
        <%= icon("fa-solid fa-quote-left") %>
      </span>
      <% @account.errors.full_messages_for(:name).each do |message| %>
        <p class="help is-danger">
          <%= message %>
        </p>
      <% end %>
    </div>
  </div>

  <%# initial balance %>
  <div class="field">
    <%= form.label :initial_balance, t(".initial_balance"), class: "label" %>
    <div class="control has-icons-left">
      <%= form.number_field :initial_balance, class: input_class_for(@account, :initial_balance), placeholder: t(".initial_balance"), step: 0.01 %>
      <span class="icon is-left">
        <%= icon("fa-solid fa-euro-sign") %>
      </span>
      <% @account.errors.full_messages_for(:initial_balance).each do |message| %>
        <p class="help is-danger">
          <%= message %>
        </p>
      <% end %>
    </div>
  </div>

  <%# share %>
  <% unless params[:action] == "new" or params[:action] == "create" %>
    <%# shared with %>
    <% unless form.object.users.count == 1 %>
      <div class="field">
        <%= form.label :share, t(".share"), class: "label" %>
        <% other_users(@current_user, form.object).each do |other_user| %>
          <div class="field">
            <div class="control is-expanded">
              <%= form.fields_for :users, other_user do |shared_user| %>
                <%= shared_user.hidden_field :id %>
                <%= shared_user.email_field :email, class: "input", disabled: true %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="field">
          <div class="control">
            <%= link_to icon_text("fa-solid fa-link-slash", t(".unlink")),
                        unlink_path(form.object),
                        data: { turbo_method: :delete, turbo_confirm: t(".are_you_sure_unlink") },
                        class: "button is-danger is-fullwidth" %>
          </div>
        </div>
      </div>
    <% end %>

    <%# pending user %>
    <% if form.object.pending_user.blank? %>
      <%# propose a new sharing %>
      <div class="field">
        <%= label_tag :share, t(".propose_sharing"), class: "label" %>
        <div class="control has-icons-left">
          <%= email_field_tag :new_share, nil, class: "input", placeholder: t(".shared_email") %>
          <span class="icon is-left">
            <%= icon("fa-solid fa-envelope") %>
          </span>
        </div>
        <p class="help">
          <%= t(".explanation") %>
        </p>
      </div>
    <% else %>
      <%# show me the pending user and propose to unlink him %>
      <%= form.fields_for :pending_user do |pending_user_fields| %>
        <div class="field">
          <%= pending_user_fields.label :pending_user, t(".pending_user"), class: "label" %>
          <div class="field has-addons">
            <div class="control">
              <%= pending_user_fields.email_field :email, class: "input", disabled: true %>
            </div>
            <div class="control">
              <%= link_to icon_text("fa-solid fa-arrow-rotate-left", t(".no_longer_propose")),
                          unpend_path,
                          data: { turbo_method: :delete },
                          class: "button is-warning" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%# hidden %>
  <div class="field">
    <%= form.label :hidden, t(".hidden"), class: "checkbox" do %>
      <%= form.check_box :hidden %>
      <%= " " + t(".hidden") %>
    <% end %>
  </div>

  <%# submit button %>
  <div class="mt-5">
    <%= form.submit class: "button is-success is-fullwidth" %>
  </div>
<% end %>
